/*------------------------------------------------------------------

[Dashboard Stylesheet]

    Project:        Maniadmin V2.0 - Responsive Admin Theme
    Version:        2.0
    Last change:    07/12/2012
    Assigned to:    Turbo
-------------------------------------------------------------------*/
/** *************************************
           interactive galleries 
************************************ **/
#guggenheim-container {
  width: 800px;
  height: 400px;
  overflow: hidden;
  color: #FFFFFF;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
}
#guggenheim-container .red {
  background: #91060d;
}
#guggenheim-container .blue {
  background: #0e67ba;
}
#guggenheim-container .green {
  background: #187409;
}
.guggenheim-item {
  width: 200px;
  height: 100px;
  background: #900;
  margin: 10px;
}
